<div class="dog">
  <div class="dog-image">
    <img src="{{ element['#image'] }}">
  </div>
  <div class="dog-data">
    <div class="dog-data-id">
      <label>ID: </label>
      <span>{{ element['#id'] }}</span>
    </div>
    <div class="dog-data-height">
      <label>Height: </label>
      <span>{{ element['#height'] }}</span>
    </div>
    <div class="dog-data-width">
      <label>Width: </label>
      <span>{{ element['#width'] }}</span>
    </div>
  </div>
</div>